{% include 'includes/header.html' %}
<style>
.dot {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  margin-left: 20px;
  display: inline-block;
  border: 2px solid black;
}

.row {
  line-height: 24pt;
  padding: 2px;
  border: 1px solid #ddd;
}
</style>
	<p class="page_title">Welcome to IMPS</p>
	<p>If this is the first time you have started IMPS, this page will
	help guide you through the setup process. If all the indicators below 
        are green, you can delete or rename the <code>first.run</code> file from the
        directory where you have installed IMPS and start using it.</p>
	<p>You will need a working installation of MySQL or Mariadb 
   	before beginning. 
	<a href="static/help/database.html">More info</a>.</p> 
<div style="width:400px; border:4px solid #444">
	<div class="row">
		<div class="inline_div" style="width: 300px;">
			<b>Database connection:</b>
		</div>
		<div class="inline_div">
			<span class="dot"{% if db_conn == True %}
			  style="background-color: green;">
			{% else %}
			  style="background-color: red;">
			{% endif %}
			</span>
		</div>
	 </div>
         <div class="row">
                <div class="inline_div"style="width: 300px;">
                        <b>Database structure:</b>
                </div>
                <div class="inline_div">
                        <span class="dot" {% if db_tables ==True %}
                             style="background-color: green;">
                        {% else %}
                             style="background-color: red;">
                        {% endif %}
                         </span>
                </div>
	</div>
        <div class="row">
                <div class="inline_div" style="width: 300px;">
                        <b>IMPS path: </b> 
		</div>
                <div class="inline_div">
                        <span class="dot" {% if imps_path_config == True %}
                              style="background-color: green;">
                        {% else %}
                              style="background-color: red;">
                        {% endif %}
                        </span>

                </div>
	</div>
	<div class="row">
                <div class="inline_div"style="width: 300px;">
			<b>Item image directory: </b> 
		</div>
                <div class="inline_div">
			<span class="dot" {% if item_image_config ==True %}
			      style="background-color: green;">
			{% else %}
			      style="background-color: red;">
			{% endif %}
			</span>
		</div>
	</div>
        <div class="row">
                <div class="inline_div" style="width: 300px;">
                        <b>Backup directory: </b>
		</div>
                <div class="inline_div">
                         <span class="dot" {% if backup_config ==True %}
                             style="background-color: green;">
                         {% else %}
                             style="background-color: red;">
                         {% endif %}
                         </span>
                </div>
        </div>
</div>
</div>	
{% if backup_config and item_image_config and imps_path_config and db_conn and db_tables %}
<p>IMPS appears correctly configured: 
 <a href="/del_firstrun" class="imps button_a">Rename first.run</a>
</p>
{% endif %}
<p class="page_subtitle">Settings</p>
<p class="pt-3">IMPS uses a configuration file (imps_config.toml) for many of its settings, 
including the database connection, server settings, and file 
directories. The file is in the same directory where you installed IMPS, 
most likely in <code>/var/www/html</code> if you are using Apache and MySQL
on Linux. You will need to edit this file so that IMPS will
work correctly.</p>
<p>The imps_config.toml file contains several sections that you must set for IMPS
to work.</p>
<p><b>[database]</b></p>
<p>Configure your database connection here. Set:</p> 
<ul>
<li><i>host</i> to the host IP address</li>
<li><i>name</i> to the database name</li>
<li><i>user</i> to a user with 
<ul>
<li>CREATE</li>
<li>DELETE</li>
<li>INSERT</li>
<li>SELECT</li>
<li>UPDATE</li>
</ul>
privileges on the database.</li>
<li><i>password</i> to the password for the database user</li>
</ul>
<p><b>[directories]</b></p>
<p>Configure your file directories here. Set:</p>
<ul>
<li><i>imps_ip</i> to the IP address of the IMPS server.</li>
<li><i>imps_path</i> to the absolute path to the imps.py file</li>
<li><i>item_image_dir</i> to relative path of the directory where 
    IMPS should store item images. The default is 
    <code>static/images/items</code>, but you may use any directory that IMPS has 
    read/write access to. To use a directory outside the scope of
    the IMPS directory, you may create a symlink.</li>
<li><i>image_dir</i> to the directory where IMPS should access the
    program images. The The default is <code>static/images</code>, but you may use any
    directory that IMPS have read/write access to.</li>
<li></i>backup_dir</i> the relative location where IMPS will store database 
    backups. The default is <code>static/backups</code>, but you may use any
    directory that IMPS have read/write access to.</li>
</ul>
<p><b>[password]</b></p>
<p>Configure your IMPS password here. Anyone with the password can
access IMPS.</p>
</div>
{% include 'includes/footer.html' %}
