<!-- warning-->
<div id="myModal" class="modal">
        <div class="modal-content">
                <div class="warn_cont">
                        <div class="warn_left"><br>
                               <div class="warning"></div>
                        </div>
                        <div class="warn_right">
                                <div class="warn_right_top"><br>
                                        <span id="err_message"></span>
                                </div>
                                <div class="warn_right_bottom">
                                        <span class="close">&times;</span>
                                </div>
                        </div>
                </div>
        </div>
</div>
<!-- end warning -->
