{% include 'includes/header.html' %}
{% include 'includes/warning.html' %}
<!--Page contents -->
<p class="page_title">Select box number to edit</p>
<form action="/boxdetails" method = "POST" name="select_box" onsubmit="return validateForm(event);">
  <div><br>
  <div>
    <div style="padding-left: 8px;">
     <input autofocus id="box-num" type="text" name="box-num" size="5">
    </div>
    <div>
      <button type="submit" class="imps box_closed button_small">
       Box
      </button>
    </div>
  </div>
</div>
</form>


<script>
var modal = document.getElementById("myModal");
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0];
span.onclick = function() {
  modal.style.display = "none";
}

function validateForm() {
  let num_input = document.forms["select_box"]["box-num"].value;

  var num_to_check = Number(num_input) ;

  if (num_input == ""){
    //alert("Box number is required");
    modal.style.display = "block";
    document.getElementById('err_message').innerHTML="You must enter a <br>box number.";
    span.onclick = function() {
        modal.style.display = "none";
    }
    return false;
  }

  if (isNaN(num_input)){
    modal.style.display = "block";
    document.getElementById('err_message').innerHTML="Box numbers must <br>be numerals.";
    span.onclick = function() {
        modal.style.display = "none";
    }
    return false;
  }

  const valid_numbers = {{available_boxes}};

  if (valid_numbers.includes(num_to_check)!=1) {
    modal.style.display = "block";
    document.getElementById('err_message').innerHTML="Box "+num_to_check+" is not in use. <br>Please select a different<br> box number.";
    span.onclick = function() {
        modal.style.display = "none";
    }

    return false;
  }
}

</script>



{% include 'includes/footer.html' %}
