{% include 'includes/header.html' %}

<p class="page_title">You have deleted Box {{deleted_box}}</p>
<div class="container-flex">
<div class="row ps-2">
<p>All items that were in box {{deleted_box}} have been moved to box {{new_box_num}}.</p>
</div>
	<div class="row">
		<div class="col col-auto">
			<a href="/">
				<button class="imps home button_small">Home</button>
			</a>
		</div>
		<div class="col">
			<a href="/boxshowcontent/{{new_box_num}}">
				<button class="imps list button_smallm">Box {{new_box_num}}</button>
			</a>
		</div>
	</div>
</div>
{% include 'includes/footer.html' %}
