{% include 'includes/header.html' %}
<p class="page_title">List of boxes
	{% if show_location | length != 0  %}
		in {{show_location}}
	{% endif %}
</p>
{% if box_list| length == 0  %}
<h3>No boxes assigned</h3>     
<p>There are no boxes assigned to this location or the location does 
not exist.</p>
<p>Use the <a href="/boxlist"><span class="text_href">Box list</span></a> view to see a list of 
all boxes or the <a href="/cp_locations">list of locations</a> in the 
Control panel to veiw the available locations. </p>
{% else %}
<div class="container-flex">
	<div class="item_display_table; display: flex" id="itemdisplaytable">
		<span class="table_head">
			<span class="table_label">Box #&nbsp;</span>
			<span class="table_label">Location</span>
			<span class="table_label">Name</span>
                        <span class="table_label">Last change</span>
			<span class="table_label">Items</span>
		        <span class="table_label">Edit</span>
                        <span class="table_label">Label</span>
		        <span class="table_label">Delete</span>
		</span>
                <span class="table_body">
		{% for box_num, box_loc, box_name, box_date, box_last_changed in box_list %}
		<div class="table_row">
			<div class="table_cell">
				{{ box_num }}
			</div>
			<div class="table_cell"  style="background-color: #eee;">
			        {{ box_loc }}
		        </div>
		        <div class="table_cell">
				<div data-tooltip="{{box_name}}">
					{{ box_name | truncate(20)}}
				</div>
		        </div>
                        <div class="table_cell">
                                {{ box_last_changed }}
                        </div>
                        <div class="table_cell">
                                {% if box_num in not_empty_box_num_list %}
                                <a href="/boxshowcontent/{{box_num}}" style="margin-left:0px; padding-left:0px;">
                                  <button type="submit" id="content_submit_button" class="ico_imps box_full" style="padding-left:0px;">
                                   </button>
                                </a>
                                {% else %}
                                   <button type="submit" id="content_submit_button" class="ico_imps box" disabled>
                                   </button>
                                {% endif %}
                        </div>

        		<div class="table_cell">
				<form action="/boxdetails" method="POST">
				   <input type="hidden" id="box-num" name="box-num" value="{{box_num}}">
		                   <button type="submit" id="edit_submit_button" class="ico_imps edit" style="margin: auto;">
                		   </button>
			        </form>
		        </div>
                        <div class="table_cell">
                                <a href="#" 
					onclick="window.open('/boxlabel/{{box_num}}',
					'newwindow', 'width=750, height=550'); return false;">
                                        	<button class="ico_imps qr"></button>
                                </a>
                        </div>
		        <div class="table_cell">
		               <form action="/boxdel" method="POST">
                                  <input type="hidden" name="box_del_from" value="/boxlist">
                                  <input type="hidden" id="box_to_del" name="box_to_del" value="{{box_num}}">
		                  <button type="submit" id="del_submit_button" class="ico_imps trash">
	                          </button>
            		       </form>
                        </div>
		</div>
		{% endfor %}
		</span>
	</div>
{% endif %}
</div>
{% with ITEM_IMAGE_DIR=ITEM_IMAGE_DIR %}
{% include 'includes/sort.html' %}
{% endwith %}
<div> 
  <a href="/boxadd">
    <button class="imps add button_med">Add box</button>
  </a>
</div>

{% include 'includes/footer.html' %}
