{% include 'includes/header.html' %}
<script>
// function to show items by category
function catSwitch(){
//get the category
category = document.getElementById("sel_category").value;
//load the page
window.open("/itemsbycategory/"+category, "_self")
}
</script>

<!-- page-content -->

<p class="page_title">Select category to show items</p>
<div>
	<select id="sel_category" name="category">
		{% for cat_name in available_cats %}
			<option value="{{cat_name}}">{{cat_name}}</option>
		{% endfor %}
	</select>
</div>
<div>
	<button class="imps list button_small" onclick="catSwitch()">
		Items
	</button>
</div>

{% include 'includes/footer.html' %}
