{% include "includes/header.html" %}
<script>
// function to switch view
function viewSwitch(){
  //switch cookie
  document.cookie="view=mobile;path=/";
  //reload the page
  window.location.reload();
}
</script>
<div class="switch">
	<div class="container-flex">
		<div class="view_switch">
			<button class="mobile view" onclick="viewSwitch()">
			</button>
			<button class="desktop_set_view view">
			</button>
		</div>
	</div>
</div>

<!-- page-content -->

<p class="page_title">Items categorized as <i>{{cat_name}}</i></p>
{% if pagination.has_prev or pagination.has_next %}
	<div class="paginate">
		{% if pagination.has_prev %}
		<div class="paginate-item">
	        	{% set link = cat_name + '?page=' + (page-1)| string %}
        	        <a href="{{link}}" class="imps button_a">Previous</a>
	        </div>
		{% endif %}
	<div class="paginate-item">
		{% if pagination.has_next %}
			{% set link = cat_name+'?page=' + (page+1) | string %}
	                <a href="{{link}}" class="imps button_a">Next</a>
		{% endif %}
        </div>
	</div>
{% endif %}

{% with ITEM_IMAGE_DIR=ITEM_IMAGE_DIR %}
{% include 'includes/includeitemlist.html' %}
{% endwith %}

<div class="paginate">
{% if pagination.has_prev %}<div class="paginate-item">
        {% set link = cat_name+'?page=' + (page-1)| string %}
                <a href="{{link}}" class="imps button_a">Previous</a>
        </div>{% endif %}

        <div class="paginate-item">{% if pagination.has_next %}
        {% set link = cat_name+'?page=' + (page+1) | string %}
                <a href="{{link}}" class="imps button_a">Next</a>
        {% endif %}
        </div>

</div>
{% include 'includes/sort.html' %}
{% include 'includes/footer.html' %}
